<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <p>Olá, <strong>{{user.username}}</strong>!</p>
  <p>
    Recebemos uma solicitação para redefinir sua senha da plataforma Buildinvest.
    Para redefinir sua senha clique
    <strong><a href="{{url}}" style="text-decoration: none; cursor: pointer;">aqui</a></strong>
  </p>
  <br />
  <br />
  <p>Equipe Buildinvest</p>
</body>

</html>