<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <p>Olá, <strong>{{name}}</strong>!</p>
        <p>
            A captação que você investiu foi atingiu o mínimo esperado!<br />
            Acesse sua conta para acompanhar a obra através da página de relatórios.
        </p>
        <p>
            Dados do investimento:
        </p>
        <ul>
            <li><strong>Nome da obra:</strong> {{building}}</li>
            <li><strong>Descrição da obra:</strong> {{description}}</li>
        </ul>
        <p>
            Acompanhe seus investimentos pela <a href="http://localhost:3001">plataforma da Buildinvest</a>.
        </p>
        <br />
        <p>Equipe Buildinvest</p>
    </body>
</html>