<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <p>Olá, <strong>{{investor.name}}</strong>!</p>
  <p>
    Você acabou de realizar um novo investimento na plataforma da Buildinvest e estamos muito felizes por você investir
    consco.<br />
    Agora é só seguir as instruções abaixo para finalizar o processo e confirmar o investimento.
  </p>
  <ul>
    <li>
      Faça a transferencia (TED) do valor investido para a
      <strong>Conta:</strong> {{buildinvest.bankAccount}}
      <strong>Agencia:</strong> {{buildinvest.agence}}
    </li>
    <li>Envie o comprovante de TED na área <a href="#">"Meus Investimentos" da plataforma</a></li>
  </ul>
  <br />
  <p>Equipe Buildinvest</p>
</body>

</html>