<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <p>Olá, <strong>{{user.username}}</strong>!</p>
  <p>
    Sua senha foi redefinida com sucesso!
  </p>
  <br />
  <br />
  <p>Equipe Buildinvest</p>
</body>

</html>